* {
 margin: 0px;
 padding: 0px;
 font-family: "Montserrat";
 color: #fff;
}

body {
 background-color: #000;
}

.header {
 width: 85%;
 display: grid;
 grid-template-columns: 1fr 1fr;
 align-items: center;
 margin: 0 auto;
 padding-top: 20px;
}

.header-right img {
 width: 700px;
 align-self: left;
}

.header-left {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.header-left a:hover {
 color: #000;
}

.header-left img {
 width: 205px;
}

.header-left h1 {
 font-size: 2.5rem;
}

.header-left span,
.sobre span {
 color: #e2181a;
}

.header-left a {
 text-decoration: none;
 padding: 10px 30px;
 background-color: #e2181a;
 max-width: max-content;
 margin: 0 auto;
 margin-bottom: 10px;
 border-radius: 4px;
 flex-wrap: nowrap;
}

@media (max-width: 1050px) {
 .header {
  grid-template-columns: 1fr;
 }
 .header-left img {
  margin: 0 auto;
 }
 .header-right img {
  display: none;
 }
 .header-left a {
  margin-bottom: 20px;
 }
}

/* Feito para Você */

.div-mid {
 margin: 0 auto;
 border-bottom: 2px solid #e2181a;
 border-top: 2px solid #e2181a;
}

.div-mid h1 {
 text-align: center;
 padding-top: 60px;
}

.cards {
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
 padding-top: 80px;
 padding-bottom: 80px;
 justify-content: space-evenly;
}

.card-item {
 width: 220px;
 height: 135px;
 display: flex;
 flex-direction: column;
 gap: 12px;
 align-items: center;
 text-align: center;
}

.card-item img {
 width: 80px;
}

/* Sobre */
.sobre {
 border-bottom: 2px solid #e2181a;
}
.sobre h1 {
 padding-top: 80px;
 padding-bottom: 60px;
 text-align: center;
 text-transform: uppercase;
 font-size: 2rem;
}

.lista-card {
 display: flex;
 gap: 20px;
 flex-wrap: wrap;
}

.card {
 width: 300px;
 height: 350px;
 background-image: url(img/img-lista-1.jpg);
 background-position: center;
 background-repeat: no-repeat;
 display: flex;
 align-items: end;
 text-align: center;
 margin: 0 auto;
 border: 1px solid #e2181a;
 border-radius: 4px;
}

.card-txt {
 flex-direction: column;
}

.card-txt p {
 font-weight: 700;
 text-transform: uppercase;
 padding: 10px;
 background-color: #e2181a;
 margin-top: 10px;
}

.card-txt h2 {
 margin: 10px;
}

.sobre a,
.txt-bottom-a {
 text-transform: uppercase;
 text-decoration: none;
 padding: 15px 90px;
 background-color: #e2181a;
 border-radius: 4px;
 margin: 0 auto;
 margin-top: 50px;
 margin-bottom: 50px;
 display: block;
 max-width: max-content;
}

.sobre a::after {
 content: "";
 width: 0%;
 height: 2px;
 background: #fff;
 display: block;
 transition: 0.4s;
}

.sobre a:hover::after {
 width: 100%;
 transition: 0.4s;
}

@media (max-width: 660px) {
 .card {
  width: 250px;
  height: 350px;
  border: 1px solid #e2181a;
 }
}

@media (max-width: 450px) {
 .sobre a {
  padding: 15px 15px;
  font-size: 0.975rem;
 }
}

/* Investimento */

.investimento {
 height: max-content;
 margin-bottom: 100px;
}

.investimento-container {
 display: flex;
 gap: 20px;
 margin: 0 auto;
 width: 60%;
 margin-top: 50px;
}

.investimento-txt {
 width: 60%;
 border: 1px solid #e2181a;
 border-radius: 4px;
 text-align: center;
 margin: 0 auto;
}

.txt-top {
 padding: 20px 15px;
}

.txt-top h1 {
 font-weight: 700;
 text-transform: uppercase;
 width: max-content;
 margin: 0 auto;
}

.txt-top h1::after {
 content: "";
 width: 100%;
 height: 2px;
 background: #e2181a;
 display: block;
}

.txt-top p {
 padding: 20px 10px;
}

.txt-top span,
.txt-bottom span {
 color: #e2181a;
}

.txt-bottom-a {
 padding: 15px 50px;
}

.investimento-garantia {
 text-align: center;
 width: 40%;
 padding-top: 50px;
}

@media (max-width: 1000px) {
 .investimento {
  margin: 0 auto;
 }
 .investimento-container {
  flex-direction: column;
 }
 .investimento-txt {
  display: block;
  width: 100%;
 }
 .investimento-garantia {
  margin: 0 auto;
  padding-top: 0;
  align-items: center;
  margin-bottom: 50px;
 }
}

@media (max-width: 850px) {
 .investimento-garantia {
  display: none;
 }
 .investimento-txt {
  margin-bottom: 50px;
 }
}
@media (max-width: 550px) {
 .investimento-txt a {
  font-size: 0.9rem;
  padding: 15px 30px;
 }
 .investimento-txt p:nth-child(2) {
  display: none;
 }
}
@media (max-width: 450px) {
 .investimento-txt {
  width: fit-content;
  margin-bottom: 50px;
 }
 .investimento-txt a {
  font-size: 0.75rem;
  padding: 10px 25px;
 }
 .investimento-txt-bottom span {
  display: block;
 }
}

/* Footer */

.footer {
 margin: 0 auto;
 background: #e2181a;
 text-align: center;
 padding: 10px;
}
